{% extends 'myauth/base.html' %}


{% block title %}
    About me
{% endblock %}

{% block body %}
    <h1>User info</h1>
    {% if user.is_authenticated %}
        <h2>Detail</h2>
        <div>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">
                    Download new avatar
                </button>
            </form>
        </div>
            <p>Username: {{ user.username }}</p>
            <p>First name: {{ user.first_name }}</p>
            <p>Last name: {{ user.last_name }}</p>
            <p>Email: {{ user.email }}</p>
            <p>Bio: {{ user.profile.bio }}</p>
            <br>
            <div>
                <button><a href="{% url 'shopapp:products_list' %}">To products</a></button>
                <button><a href="{% url 'shopapp:orders_list' %}">To orders</a></button>
            </div>
            <div>
                <button><a href="{% url 'myauth:users' %}">Back to users list</a></button>
            </div>
            <br>
            <div>
                <button><a href="{% url 'myauth:logout' %}">Logout</a></button>
            </div>
    {% else %}
        <h2>User is anonymous</h2>
    {% endif %}
{% endblock %}